@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our library</h1>
    <p>Made by BATR Hamza, MENGELLE Rémy, OURLIAC Thomas & SAUBANERE Théo.</p>
</div>


