@using ASP.Server.Model

@model IEnumerable<Genre>
@{
    ViewData["Title"] = "Liste Genre";
}
<div class="listeBooks">
    <h1>Liste des Genres:</h1>
    <table>
        <thead>
            <tr>
                <th scope="col">Id genre</th>
                <th scope="col">Type (genre)</th>
                <th scope="col">Films associés</th>
            </tr>
        </thead>
        <tbody> 
            @foreach (var genre in Model)
            {
            <tr>
                <th> @genre.Id </th>
                <th> @genre.Name </th>
                <th> 
                    <ul> 
                    @foreach(var book in @genre.Books)
                    {
                        <li>@book.Name</li>
                    }
                    </ul>
                </th>
            </tr>
            }
        </tbody> 
    </table>
</div>


